* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link:hover {
  color: orange;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
}

.h2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.h3 {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
}

.h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 0.05em;
}

/*Main section*/
.main_section {
  min-height: 768px;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.main_box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.main_info {
  padding: 115px 0;
  flex-grow: 1;
  background-image: url("img/main_back.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.main_heading {
  max-width: 510px;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  color: #1f3f68;
}

.main_heading__text {
  max-width: 450px;
  margin-top: 32px;
  opacity: 0.6;
}

.main_button {
  display: inline-block;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 15px 50px;
  margin-top: 71px;
}

/*What-we-do section*/

.what-we-do {
  margin-top: 64px;
}

.what-we-do__box {
  display: flex;
  justify-content: space-between;
  margin: 64px 0;
}

.what-we-do__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 359px;
  height: 480px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 44px 32px;
}

.card_heading {
  margin-bottom: 14px;
}

.card_text {
  opacity: 0.6;
  margin-bottom: 30px;
}

.card_link {
  color: #5a98d0;
}

/*Project section*/

.project {
  margin-bottom: 112px;
}

.project__text {
  text-align: center;
  margin: 32px auto 64px auto;
  width: 75%;
  color: #222222;
  opacity: 1;
}

.projects__container {
  display: flex;
  gap: 32px;
}

.project__item {
  position: relative;
  margin-bottom: 32px;
  flex-grow: 1;
}

.project__image {
  width: 100%;
}

.project__image-text {
  position: absolute;
  top: 64px;
  right: 32px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.project__image-text.small {
  font-size: 28px;
}

.project__image-text.large {
  font-size: 32px;
}

/*Footer*/

.footer {
  background-color: #316099;
}

.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  margin-bottom: 95px;
}

.description {
  max-width: 495px;
}

.connect__title {
  max-width: 340px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 32px;
}

.connect__text {
  color: #ffffff;
  opacity: 0.6;
}

.footer__button {
  display: inline-block;
  color: white;
  padding: 15px 80px;
  background: #5a98d0;
}

.footer__line {
  opacity: 0.4;
  border: 1px solid #ffffff;
  margin-bottom: 64px;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  color: white;
  list-style: none;
}

.contacts__item__num {
  display: inline-block;
  margin-right: 19px;
}

.copyright {
  padding: 64px 0;
  color: #ffffff;
  opacity: 0.4;
}

/*Contacts*/

.contacts_main {
  display: flex;
  justify-content: space-between;
}

.map__img {
  width: 1140px;
}

.form,
.input,
.textarea {
  border: 1px solid #356ead;
  border-radius: 10px;
  opacity: 0.4;
}

.submit,
.reset {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

/*Adaptive*/

@media (max-width: 1200px) {
  .container {
    padding: 0 32px;
  }
  .navbar {
    margin-top: 24px;
  }
  .main_info {
    background-position: right 300px;
    background-size: 300px;
    flex-grow: 1;
  }
  .what-we-do__box {
    flex-direction: column;
    align-items: center;
    margin: 0 0 127px;
  }
  .what-we-do__card {
    margin-top: 32px;
  }
  .project {
    margin-bottom: 80px;
  }
  .connect {
    padding-top: 47px;
    margin-bottom: 64px;
  }
  .connect__text {
    width: 336px;
  }
  .contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }
}

@media (max-width: 450px) {
  .what-we-do__card {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .main_section {
    min-height: 376px;
  }
  .main_info {
    background-image: none;
    margin: 0 auto;
    text-align: center;
    padding: 28px 0 40px;
  }
  .main_heading {
    max-width: 343px;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.04em;
    max-width: 510px;
  }
  .main_button {
    font-size: 12px;
    line-height: 26px;
    padding: 2px 10px;
    margin-top: 32px;
  }
  .what-we-do {
    margin-top: 48px;
  }
  .what-we-do__box {
    margin: 0 0 64px;
  }
  .h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .project {
    margin-bottom: 50px;
  }
  .projects__container {
    flex-direction: column;
    gap: 0;
  }
  .project__text {
    margin: 32px auto 82px auto;
  }
  .project__image-text.small {
    top: 16px;
    left: 16px;
  }
  .project__image-text.large {
    top: 16px;
    right: 16px;
  }
  .project__image-text.small,
  .project__image-text.large {
    font-size: 16px;
    line-height: 19px;
  }
  .connect__title,
  .connect__text {
    text-align: center;
  }
  .connect {
    flex-direction: column;
    padding-top: 18px;
    margin-bottom: 41px;
  }
  .connect__text {
    margin-bottom: 40px;
  }
  .footer__button {
    padding: 15px 60px;
  }
  .footer__line {
    margin-bottom: 32px;
  }
  .contacts__list {
    gap: 18px;
  }
  .copyright {
    padding: 32px 0;
  }
}
